@import url('https://fonts.googleapis.com/css2?family=Abel:wght@200;300;400;600;800&display=swap');

* {
  font-family: 'Abel', sans-serif;
}

:root {
  --color-text: #9febb8;
  --color-hover: #56c785;
  --color-bg: #24a04d;
}

footer {
  background-color: var(--color-bg);
  margin-top: 6rem;
}

.btn-outline-success {
  --bs-btn-color: var(--color-text);
  --bs-btn-border-color: var(--color-text);
}

.btn-outline-success:hover {
  --bs-btn-hover-bg: var(--color-hover);
  --bs-btn-hover-border-color: var(--color-hover);
}

.txthov {
  color: #dddddd;
}

.txthov:hover {
  color: #56c772;
}
